/* RESET - fjerner browserens standard spacing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY - hele siden */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f7fa;
    color: #333;
    background-color: #FDF6F3;
}

/* HEADER */
header {
    background-color: #6F8FB8;
    color: white;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
    font-weight: bold;
}


/* SECTIONS */
section {
    background-color: white;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background-color: #6F8FB8;
    color: white;
}       

.box {
    background-color: #ffffff;
    padding: 25px;
    margin: 30px auto;
    border-radius: 15px;
    max-width: 900px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}



.page-title h1 {
    font-size: 40px;
}